# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

ACCESS_KEY_ID="REQUIRED"
SECRET_ACCESS_KEY="REQUIRED"
SESSION_TOKEN="REQUIRED"
REGION="REQUIRED"
ENDPOINT="REQUIRED" # Refer: https://docs.aws.amazon.com/general/latest/gr/ddb.html
TABLE_NAME="OPTIONAL"


# EXAMPLE (DO NOT USE // FORMAT REFERENCE)
# ACCESS_KEY_ID="ASIASP23TQIKOSDSADSF4J"
# SECRET_ACCESS_KEY="jJFZeHbkSKJNSIDFBOUDIBSBDVIBSADFOIFHISFD2FlP5Ti4Q"
# SESSION_TOKEN="FwoGZXIvYXSDSDFSDFFGDFGFG//D/FG/DFGDFGXtHyCQTGbdHIez1zw0CGW8G1berCPQY+ZemlAyXEHwAmZVBb68J/AWzhD54p52L6LLLU+g8V3yuESDF.SDFSDF//SDF/S/DF/SDF/SDFid2dopcTfYdj3zkjj6dWQswo5rmAi535U2QZsDP173aAnBhni0KB5Bg9u+Hk2KvIglLG8Hcu6Hay8spx+hFfEtN1hQMHNXi/ABPFjNSgfaFYc9NDhSg+cy76G6NIAyjfz+ajBjItNbc2FoljFF/ZU7f8sqBT2L6KxZU1ntyuuINkmL+lCbYjax3evMhMSn+C//Zk"
# REGION="us-east-1"
# ENDPOINT="dynamodb.us-east-1.amazonaws.com"
# TABLE_NAME="table_name"